<div class="jumbotron">
    <h1>Welcome to<h1>
    <h1>Magic Market!<h1>
    <div align = "center">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-secondary btn-lg btn-xlarge active"%>
    </div>
</div>