.jumbotron {
    background-image: asset-url('magic-market-home.jpg');
    height: 100vh;
    text-align: center;
    background-size: cover;
    color: white;
    font-family: 'Helvetica Neue' !important;
    font-stretch: expanded;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
       text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       
    font-family: fantasy;
    font-style: oblique;
}

.no-left-padding {
    padding-left: 0 !important;
}

.btn-xlarge{
    color: white;
    font-size: 0.7em;
    background: rgba(216, 223, 234, 0.6);
    border: none;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: white;
    background: rgba(109, 132, 180, 0.8);
}